
h1,h2 {
    color: white;
}

.player{
    background-color: wheat;
    text-align: center;
    font-size: 18px;
    color: navy;
    height: 80px;
    width: 100px;
    float: left;
    border :solid yellow 1px; 
    margin-left: 10px;
}
.score{
    margin: 10px;
    font-size: 18px;
    color: white;
}
